@media screen and (min-width: 600px){
    .projet{
        margin: 20px;
    }
    #menu{
        margin: 0;
        right: 10vw;
    }
    #apresentação_perfil2{
        font-size: 2em;
    }
    
}
@media screen and (min-width: 1000px) {
    *{
        font-size: 1em;
    }
    #navimg1{
        left: 5vw;
    }
    #menu{
        right: -2vw;
    }
    h2{
        font-size: 1.2em;
    }
    #contato>h2{
        font-size: 2em;
    }
}




