*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor-1:#240046;
    --cor1:#03045e;
    --cor2:#023e8a;
    --cor3:#0077b6;
    --cor4:#00b4d8;
    --cor5:#90e0ef;
}
header{
    position: fixed;
    top: 0;
    background-color:white;
    width: 99%;
    text-align: center;
    z-index: 1;
}
#line{
    display: inline-block;
}
#menu{
    display: block;
    font-size: 2.5em;
    
}
#menu:hover{
    cursor: pointer;
}
menu{
    display: none;
}
#itens > ul > li > a{
    display: block;
    list-style: none;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    background-color: azure;
    padding: 10px;
    border: 1px solid black;
}
#itens > ul > li > a:hover{
    background-color: var(--cor4);
}
main{
    display: block;
    width: 100%;
    color: white;
    margin-top: 50px;
}
#teste{
    background-color: lightblue;
}
#p1{
    background-image: linear-gradient(to top left, var(--cor-1),50%, var(--cor2));
    color: white;
    height: 95vh;
    padding-top: 30px;

}
#apresentação1{
    margin: auto;
    background-color: #ffffff1c;
    text-align: center;
    padding: 10px;  
    border-radius: 10px;
    width: 80%;
    height: 80%;
}
#apresentação2{
    display: block;
    background-color: #90e0ef;
}
#imagem1{
    display: block;
    margin: auto;
    width: 85vw;
    height: auto;
    transition: transform 4s ;
    transform: translate(-5px,-30px);

}