@font-face {
    font-family: Pixeled;
    src: url(../font/VCR_OSD_MONO_1.001.ttf);
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: Pixeled;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor-1:#240046;
    --cor1:#03045e;
    --cor2:#023e8a;
    --cor3:#0077b6;
    --cor4:#00b4d8;
    --cor5:#90e0ef;
}
html,body{
    background-color: #03045e;
}
.ali{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#apresentação_perfil2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    

}
h2{
    padding: 10px;
}
header{
    position: fixed;
    top: 0;
    background-color:rgb(255, 255, 255);
    width: 99.9%;
    text-align: center;
    z-index: 1;
}
#menu{
    display: block;
    font-size: 2.5em;
    
}
#menu:hover{
    cursor: pointer;
}
menu{
    display: none;
}
#itens > ul > li > a{
    display: block;
    list-style: none;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    background-color: azure;
    padding: 10px;
    border: 1px solid black;
}
#itens > ul > li > a:hover{
    background-color: var(--cor4);
}
main{
    display: block;
    width: 100%;
    color: white;
    padding-top: 50px;
    font-family: pi;
}
#p1{
    background-image: linear-gradient(to top left, var(--cor-1),50%, var(--cor2));
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#imagemPerfil{
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin: 2px;
}
#apresentação1{
    margin: auto;
    background-color: #24004630;
    text-align: center;
    padding: 10px;  
    border-radius: 10px;
    width: 90%;
    
}
.imagem1{
    display: block;
    margin: auto;
    width: 90vw;
    height: auto;
    transition: transform 4s ;
    transform: translate(-10px,-20px);

}
#p2{
    background-image: linear-gradient(to top right, var(--cor2),50%, var(--cor-1)); 
}
#apresentação2{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center ;    
    background-color: #03045e30;
}
#img2{
    display: block;
    margin: auto;
    width: 90vw;
    height: auto;
    transition: transform 4s ;
    transform: translate(-10px,-20px);

}
#p3{

    background-image: linear-gradient(to bottom right, var(--cor2),50%, var(--cor-1));
    padding-top: 50px;
}
#apresentação3{
    display: block;
    width: 90%;
    margin: auto;
    height: 100%;
    padding: 10px;
    padding-top: 50px 0px 50px 0px;
    border-radius: 10px;
    background-color: #03045e30;
    text-align: center;
}
.alinhamento{
    display: flex;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;
}
.text_conhecimentos{
    width: 100%;
    padding: 10px;
    text-align: center;
    display: none;
}
.imgcnc{    
    display:inline-block;
    background-color: white;
    width: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--cor-1);
    padding: 5px;
}
.imgcnc:hover{
    background-color: lightgreen;
    transform: translate(0px, -10px);
}

.imgi{
    display: block;
    width: 80px;
    height: auto;
}
#p4{
    background-image: linear-gradient(to top right, var(--cor2),50%, var(--cor-1));
    padding: 50px 0px 50px 0px;
}
#apresentação4{
    display: block;
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #03045e50;
}
.projet{
    background-color: #fff;
    margin: auto ;
    margin-bottom: 20px;
    width: 270px;
    height: 400px;
    position: relative;
    border-radius: 10px;
}
.alinhamento a{
    text-decoration: none;
}
#imgp1{
    background-color: #7f0;
    padding-top: 10px;
    margin: auto ;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}
#textp1{
    color: black; 
}
#text > h2{
    text-align: center;
}
#imagem2{

    margin: auto;
    margin: 50px 0px 10px;
    padding: 10px;
    width: 250px;
    height: auto;
}
#button{
    display: block;
    background-color: var(--cor4);
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5em;
    margin: auto;
}
#button:hover{
    background-color: var(--cor5);
}
#button > a{
    text-decoration: none;
    color: #fff;
}
footer{
    background-color:var(--cor5);
    color: black;
    padding-top: 20px;
    height: 150px;
}
footer h2{
    text-align: center  ;
}
.conti{
    background-color: #fff;
    width: 60px;
    border-radius: 30%;
    box-shadow: 1px 1px 1px 1px  var(--cor-1) ;
    padding: 3px;
    text-align: center;
}
.conimg{
    width: 50px;
    height: auto;
}