*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --cor-1:#240046;
    --cor1:#03045e;
    --cor2:#023e8a;
    --cor3:#0077b6;
    --cor4:#00b4d8;
    --cor5:#90e0ef;
}
html,body{
    background-color: #03045e;
    height: 500vh;
}
header{
    position: fixed;
    top: 0;
    background-color:rgb(255, 255, 255);
    width: 99.9%;
    text-align: center;
    z-index: 1;
}
#menu{
    display: block;
    font-size: 2.5em;
    
}
#menu:hover{
    cursor: pointer;
}
menu{
    display: none;
}
#itens > ul > li > a{
    display: block;
    list-style: none;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    background-color: azure;
    padding: 10px;
    border: 1px solid black;
}
#itens > ul > li > a:hover{
    background-color: var(--cor4);
}
main{
    display: block;
    width: 100%;
    color: white;
    padding-top: 50px;
}
#p1{
    background-image: linear-gradient(to top left, var(--cor-1),50%, var(--cor2));
    color: white;
    height: 100vh;
    padding-top: 30px;

}
#imagemPerfil{
    border-radius: 50%;
    box-shadow: 1px 1px 10px 5px #24004680;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}
#apresentação1{
    margin: auto;
    background-color: #24004630;
    text-align: center;
    padding: 10px;  
    border-radius: 10px;
    width: 90%;
    height: 90%;
    
}
#imagem1{
    display: block;
    margin: auto;
    width: 90vw;
    height: auto;
    transition: transform 4s ;
    transform: translate(-10px,-20px);

}
#p2{
    background-image: linear-gradient(to top right, var(--cor2),50%, var(--cor-1)); 
}
#apresentação2{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center ;    
    background-color: #03045e30;
}
#img2{
    display: block;
    margin: auto;
    width: 90vw;
    height: auto;
    transition: transform 4s ;
    transform: translate(-10px,-20px);

}
#p3{

    background-image: linear-gradient(to bottom right, var(--cor2),50%, var(--cor-1));
    height: 100vh;
    padding-top: 50px;
}
#apresentação3{
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: #03045e30;
}
#p4{
    background-image: linear-gradient(to top right, var(--cor2),50%, var(--cor-1));
}
#apresentação4{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #03045e50;
}
.projet{
    background-color: #24004650;
    margin: auto ;
    width: 250px;
    height: 250px;
}
#imgp1{
    background-color: #7f05f2;
    padding-top: 10px;
    margin: auto ;
    width: 125px;
    height: 125px;
}
footer{
    background-image: url(..---);
}